<section class="users-login-index">

  <header class="page-header">
    <h1>User &raquo; Logout</h1>
  </header>

  <div class="well">
    <%= link_to 'Register', [:users], class: 'btn btn-info' %>
  </div>

</section>
